body {
    margin: 0;
    font-family: monospace;
    line-height: 15px;
    background: #eee;
}

p {
    margin-left: 1%;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: -2px;
    background: #00427e;
    padding-bottom: 10px;
}

.banner .banner-imgs {
    background: linear-gradient(30deg, #00427e 40%, #ffffff 41%);
    padding-left: 150px;
}

.banner img.logo2path  {
    width: 60px;
    height: 70px;
    padding: 10px;
}

.banner img.grafo  {
    height: 67px;
    width: auto;
}

.navbar {
    margin-top: 30px;
    margin-left: 30px;
}

.navbar a {
    color: #fff;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 30px;
    font-size: 12px;
    background: #00427e;
}

.navbar a.chosen-menu {
    text-shadow: 2px 2px #000;
    color: #9fbebf;
}

.navbar img {
    height: 61px;
    margin-left: -1px;
}


/* GRAFICO */

#graph-div {
    width: 100%;
    height: 600px;
    display: flex;
    flex-flow: row-reverse;
}

#graph-div #node-label {
    width: 200px;
    height: 400px;
    position: absolute;
    background: #fff;
    box-shadow: 1px 1px 10px 0px #888;
    z-index: 9;
    margin-top: -200px;
    border: 1px solid #2671b5;
}

#graph-div #graph-view {
    background: #ddd;
    margin: 8px;
    border: 1px solid #bbb;
}

#graph-div #graph-view {
    width: 100%;
    height: 100%;
}

#graph-div #graph-view  .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

#graph-div #graph-view  circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

#graph-div #graph-view  .nodeReaction {
    fill: #f77;
}
#graph-div #graph-view  .nodeCompound {
    fill: #7f7;
}
#graph-div #graph-view  .nodeEnzymes {
    fill: #ff7;
}

#graph-div #graph-view  text {
    font: 12px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}