<html>
<head>
    <meta charset="UTF-8" name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon"
          href="img/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>

    <title>Search</title>
</head>
<body>

<header id="app-nav">
    <div class="banner">
        <div class="banner-imgs flex-row">
            <img class="logo2path" src="img/2pathlogo.png"/>
            <img class="grafo" src="img/bioinfo.png"/>
        </div>
        <nav class="navbar">
            <a class="navbar-brand chosen-menu" href="#">Home</a>
            <a class="navbar-brand" href="about.html">About</a>
            <a class="navbar-brand" href="help.html">Help</a>
        </nav>
    </div>
</header>

<h4 class="msg-grafo-interativo">2Path: a terpenoid metabolic network modeled as graph database</h4>

<div id="search">
    <!-- SIDE MENU -->
    <div v-cloak id="search-side-menu" style="display:flex;flex-flow: row wrap;">
        <div v-cloak class="search-filters-1">
            <span class="title">Choose the organism</span>
            <input id="input-organism-nome" list="datalist-organisms" placeholder="All Organisms">
            <datalist id="datalist-organisms">
                <option>All Organisms</option>
                <option v-for="organismo in organismoLista">
                    {{organismo.nome}}
                </option>
            </datalist>
            <button @click="showSearchEnzyme">Search Enzyme →</button>
            <button @click="showSearchPathway">Search Pathway →</button>
        </div>
        <div id="search-enzyme-menu" class="search-filters-2">
            <span class="title">Search Enzyme</span>
            <div class="flex-row">
                <span class="label">EC:</span>
                    <input id="input-enzyme" placeholder="2.5.1.92" v-model="enzimaSelecionada"/>
            </div>
            <button @click="searchEnzyme">Search 🔎</button>
        </div>
        <div id="search-pathway-menu" class="search-filters-2">
            <span class="title">Search Pathway</span>
            <div>
                <div class="flex-row">
                    <span class="label">From:</span>
                    <input id="input-compound-origem-nome" list="datalist-compound-origem" 
                    placeholder="Source Compound" v-model="compostoOrigemNome">
                </div>
                <datalist id="datalist-compound-origem">
                    <option v-for="compound in compostoOrigemLista" 
                        :data-id="compound.id" :value="compound.compoundName"></option>
                </datalist>
            </div>
            <div>
                <div class="flex-row">
                    <span class="label">From:</span>
                    <input id="input-compound-final-nome" list="datalist-compound-final" 
                    placeholder="Target Compound" v-model="compostoFinalNome">
                </div>
                <datalist id="datalist-compound-final">
                    <option v-for="compound in compostoFinalLista" 
                        :data-id="compound.id" :value="compound.compoundName"></option>
                </datalist>
            </div>
            <button @click="searchPathway">Search 🔎</button>
        </div>
    </div>
</div>

<!-- GRAFO PRINCIPAL -->
<div id="graph-div">
    <div id="node-label" style="width:16px">
        <div class="botao-detalhes" @click="togglePainel()"></div>
        <div id="msgs-painel">
            <div v-if="ifNodeWasSelected == true" class="painel-detalhes">
                <div style="text-align: center;">
                    <p>{{selectedNode.label}}</p>
                    <p>{{selectedNode.name}}</p>
                </div>
                <div style="display: flex;flex-flow: row wrap;">
                    <p><i>{{selectedNode.property_name}}</i>:</p>
                    <p>{{selectedNode.property}}</p>
                </div>
                <div v-if="selectedNode.property2_name != ''" style="display: flex;flex-flow: row wrap;">
                    <p><i>{{selectedNode.property2_name}}</i>:</p>
                    <p>{{selectedNode.property2}}</p>
                </div>
                <div v-if="selectedNode.label === 'Compound'"  style="text-align: center;">
                    <img width="220" height="auto" :src="'https://www.kegg.jp/Fig/compound/'+selectedNode.property+'.gif'">
                    <a :href="'https://www.kegg.jp/dbget-bin/www_bget?cpd:'+selectedNode.property"
                        target="_blank"><u>More details on kegg.jp</u> <span>⎘</span></a>
                </div>
                <a v-if="selectedNode.label == 'Enzyme'"
                    :href="'https://www.genome.jp/dbget-bin/www_bget?ec:'+selectedNode.property"
                    target="_blank"><u>More details on genome.jp</u> <span>⎘</span></a>
            </div>
            <div v-else>
                <p class="node-nao-selecionado">⚠<br/>Select a compound to see its details</p>
            </div>
        </div>
    </div>

    <svg id="graph-view">
        <div id="loader-graph">
            <img src="img/loading.gif">
        </div>
        <div id="container-msg-erro">
            <p v-cloak v-if="grafoEncontrado == false" id="msg-erro">
                {{msgSeNaoEncontrado}}
            </p>
        </div>

    </svg>
</div>


<!-- libs -->
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/polyfill.min.js"></script>
<script src="js/bootstrap-vue.js"></script>
<script src="js/d3.v4.min.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>

<!-- controllers -->
<script src="js/graph.js"></script>
<script src="js/main.js"></script>


</body>
</html>